<!-- CALL TO ACTION -->
<div id="call" class="img-holder" data-image="img/dividers/7.jpg">

    <div class="bg_call">
        <div class="container">
            <div class="row centered" style="-webkit-transform: translateZ(1px); -moz-transform: translateZ(1px); margin-top: 60px;">
               <!-- class="wow fadeIn" data-wow-duration="1s"  data-wow-delay="0.5s"-->
                <h4 class="centered">ALREADY GOT A PROJECT IN MIND?</h4>
                <p>It only takes a click to launch!</p>
                <!--Quote estimation with the speed of a black marlin.-->
                    <input type="text" class="form-control col-md-3 center-input" placeholder="Text input">


                    <p><button type="button" id="quote" class="btn btn-green btn-lg blue-btn" data-toggle="modal" data-target="#order">Get a Free Quote</button></p>
                </div>
            </div><!-- row -->
        </div><!-- container -->


</div><!-- Call to action -->