<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="http://dceta.com"/>

    <title>Dceta Studio - Web Design & Web Development in Toronto</title>

    <meta name="description" content="Affordable Web Design & Web Development in Toronto. We build modern and clean, responsive websites to help your business grow">

    <meta name="keywords" content="web design, web development, web design toronto, website design, responsive web design, graphic design toronto, ux design">
    <meta name="author" content="Dceta Studio">
    <meta name="robots" content="index, follow">
    {% load staticfiles %}
    <meta property="fb:page_id" content="758775934169580" />
    <meta name="google-site-verification" content="b0-At5UQ_JziMmPaipZA8V6sF4tu17b52ki5jiT5u8A" />

    <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">

    <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" media="all" href="{% static 'css/uc.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60676385-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5501b2dc036a85bf" async="async"></script>


    <script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>

<body>

{% include "dceta/header.html" %}

<div id="tp"></div>
<!-- Menu -->
<!--
<nav class="menu" id="theMenu">
    <div class="menu-wrap">
        <h1 class="logo"><a href="http://dceta.com" class="smoothScroll" title="Dceta Studio">Dceta Studio</a></h1>
        <a href="about" class="smoothScroll" title="About Us">About Us</a>
        <a href="#services" class="smoothScroll" title="Services">Services</a>
        <a href="#portfolio" class="smoothScroll" title="Portfolio">Portfolio</a>
        <a href="#pricing" class="smoothScroll" title="Pricing">Pricing</a>
        <a href="#footer" class="smoothScroll" title="Contacts">Contacts</a>
        <a href="https://www.facebook.com/dcetas" title="Facebook"><span class="fa fa-facebook"></span></a>
        <a href="https://twitter.com/dcetas" title="Twitter"><span class="fa fa-twitter"></span></a>
        <a href="https://dribbble.com/dcetas" title="Dribbble"><span class="fa fa-dribbble"></span></a>
        <a href="https://plus.google.com/+dcetas/about" title="Google+"><span class="fa fa-google-plus"></span></a>
        <a href="mailto:dceta@email.com" title="Mail"><span class="fa fa-envelope"></span></a>
    </div>

    &lt;!&ndash; Menu button &ndash;&gt;
    <div id="menuToggle"><span class="fa fa-bars"></span></div>
</nav>
-->


<div class="svg-wrap">
    <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-left-2" d="M26.667 10.667q1.104 0 1.885 0.781t0.781 1.885q0 1.125-0.792 1.896l-14.104 14.104h41.563q1.104 0 1.885 0.781t0.781 1.885-0.781 1.885-1.885 0.781h-41.563l14.104 14.104q0.792 0.771 0.792 1.896 0 1.104-0.781 1.885t-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.813-0.771-1.896t0.771-1.896l18.667-18.667q0.792-0.771 1.896-0.771z" />
    </svg>
    <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-right-2" d="M37.333 10.667q1.125 0 1.896 0.771l18.667 18.667q0.771 0.771 0.771 1.896t-0.771 1.896l-18.667 18.667q-0.771 0.771-1.896 0.771-1.146 0-1.906-0.76t-0.76-1.906q0-1.125 0.771-1.896l14.125-14.104h-41.563q-1.104 0-1.885-0.781t-0.781-1.885 0.781-1.885 1.885-0.781h41.563l-14.125-14.104q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76z" />
    </svg>
    <svg class="loader" version="1.1" id="Layer2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							     width="24px" height="30px" viewBox="0 0 24 30" style="display:none; enable-background:new 0 0 50 50;" xml:space="preserve">
							    <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
							      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
							    </rect>
							    <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
							      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
							    </rect>
							    <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
							      <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
							      <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
							    </rect>
							  </svg>

</div>

<!--<div class="logo-main wow fadeInLeft" data-wow-duration="3s"  data-wow-delay="1s">
    <a href="#tp" class="smoothScroll" title="Dceta Studio">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="80px" height="40px" viewBox="0 0 80 40" enable-background="new 0 0 80 40" xml:space="preserve">
            <polygon opacity="0.25" points="57.232,10.927 63.709,28.63 52.577,31.844 "/>
            <polygon opacity="0.25" points="45.169,8.919 56.097,11.008 52.727,14.097 48.9,32.563 47.771,12.67 "/>
            <polygon opacity="0.25" points="36.741,30.95 36.741,8.732 44.313,9.14 40.315,15.835 45.865,19.841 40.299,22.499 44.518,31.092 "/>
            <polygon opacity="0.25" points="35.586,9.108 30.853,10.201 26.137,20.161 30.202,30.007 34.435,30.487 30.286,19.903 "/>
            <polygon opacity="0.25" points="14.825,7.733 25.028,19.284 15.495,31.264 "/>
            <path opacity="0.25" d="M79.921,40H0V0h79.921V40z M2.819,37.181h74.282V2.819H2.819V37.181z"/>
        </svg>
    </a>
</div>-->

<div id="dceta-slider" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#dceta-slider" data-slide-to="0" class="active"></li>
        <li data-target="#dceta-slider" data-slide-to="1"></li>
        <li data-target="#dceta-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-fade" role="listbox">
        <div id="cover-me" class="item active" style="background: url({% static 'slider/new/cover-me.png' %}) left -280px no-repeat; background-size: cover;">
            <div class="container" style="height: inherit;">
               <!-- <div class="col-md-5 col-sm-8 col-xs-10 slider-info"></div>
                <div class="col-md-2 col-sm-8 col-xs-10 slider-info"></div>-->
                <div class="col-md-5 col-sm-8 col-xs-10 slider-info wow fadeIn pull-right pull-down" data-wow-duration="1s"  data-wow-delay="1s" style="margin-top:520px">
                    <h3 style="font-weight: 100">Cover Me</h3>
                    <p>
                        One of our latest products. Community-driven online archive of high-quality album covers. Using this resource allows you to download any of the album covers for free with just one click. It doesn't matter what device or platform you're using. See <a href="../cover-me" title="Cover Me Project">case study</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="item"><!--style="background: url(slider/coincosm-copy.png) right center no-repeat; background-size: 80%"-->

            <div class="container">
                <div id="coincosm-vignette" class="col-lg-5 col-md-5 slider-info wow fadeIn v-float" data-wow-duration="1s"  data-wow-delay="1s"><!--style="margin-top: 200px;"-->
                    <h3 style="font-weight: 100">Coincosm</h3>
                    <p>
                        A web-based wallet that makes Bitcoin simple to understand & use. Coincosm was specifically designed for new users who are about to make their first step into the world of financial management freedom. Dive into <a href="coincosm" title="Coincosm Project">details</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <img id="coincosm" class="img-responsive pull-right" src="{% static 'slider/new/coincosm.png' %}" style="margin-top: 0;" alt="Coincosm Website">
            </div>

        </div>

        <div class="item"><!--style="background-image: url(slider/woodluck.png); background-size: cover"-->
            <div class="container">
                <div class="col-lg-8 col-md-9 col-sm-12 wow fadeIn" data-wow-duration="1s"  data-wow-delay="0.5s"><!--style="background: url(slider/woodluck.png) center center no-repeat; background-size: 100%;" height: 800px; padding-top: 80px-->
                    <img id="woodluck" class="img-responsive" src="{% static 'slider/new/woodluck.png' %}" style="margin-top: 0" alt="Woodluck Website">
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12 slider-info wow fadeIn v-float pull-right" data-wow-duration="1s"  data-wow-delay="1s">
                    <h3 style="font-weight: 100">Woodluck</h3>
                    <p>
                        A website to explore handmade furniture which is made by professionals from the Woodluck company. All of the solutions are exclusive and are developed according to the specific needs of the customer. Wood of only the highest quality is used. Explore the <a href="woodluck" title="Woodluck Project">project resume</a>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#dceta-slider" role="button" data-slide="prev"  title="Previous Project">
        <span class="icon-wrap"><img class="icon" src="{% static 'img/controls/left.png' %}" alt="Previous Project"/></span>
    </a>
    <a class="right carousel-control" href="#dceta-slider" role="button" data-slide="next"  title="Next Project">
        <span class="icon-wrap"><img class="icon" src="{% static 'img/controls/right.png' %}" alt="Previous Project"/></span>
    </a>
</div>



<canvas id="ripple"></canvas>
<div id="ripple-control" style="height:300px"></div>


<div class="underwater">
<!-- WELCOME SECTION -->
<div class="container">
    <div class="row mt">
        <div class="col-lg-12">
            <h3 class="centered">WHAT MAKES US DIFFERENT</h3>

            <div class="col-lg-4 col-md-4 col-xs-12 wow fadeIn" data-wow-duration="1s"  data-wow-delay="0.3s">
                <div class="centered">
                    <h4>Approach</h4>
                    <p>We are a team. You won't find any separately specialized people here.
                        We deeply believe that only if you combine the coding and design skills together, you are capable of building a high-quality product.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 wow fadeIn" data-wow-duration="1s"  data-wow-delay="0.5s">
                <div class="centered">
                    <span style="font-size: 120pt; font-weight: 500; font-family: 'Fira Sans'">+</span>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 trigger wow fadeIn" data-wow-duration="1s"  data-wow-delay="0.7s">
                <div class="centered">
                    <h4>Flexibility</h4>
                    <p>The main principle of our work is to develop the solution that will completely satisfy your needs.
                        We are extremely flexible, no matter what your constraints are. All of the work parameters are customizable.</p>
                </div>
            </div>

        </div>
    </div><!-- /row -->
</div>

<div class="centered">
<a class="external" href="about" title="Dceta Studio Team">Meet the Team <span class="fa fa-arrow-right"></span>
    <!--<svg enable-background="new 0 0 96 96" height="20px" id="arrow_right" version="1.1" viewBox="0 0 96 96" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M12,52h62.344L52.888,73.456c-1.562,1.562-1.562,4.095-0.001,5.656c1.562,1.562,4.096,1.562,5.658,0l28.283-28.284l0,0  c0.186-0.186,0.352-0.391,0.498-0.609c0.067-0.101,0.114-0.21,0.172-0.315c0.066-0.124,0.142-0.242,0.195-0.373  c0.057-0.135,0.089-0.275,0.129-0.415c0.033-0.111,0.076-0.217,0.099-0.331C87.973,48.525,88,48.263,88,48l0,0  c0-0.003-0.001-0.006-0.001-0.009c-0.001-0.259-0.027-0.519-0.078-0.774c-0.024-0.12-0.069-0.231-0.104-0.349  c-0.039-0.133-0.069-0.268-0.123-0.397c-0.058-0.139-0.136-0.265-0.208-0.396c-0.054-0.098-0.097-0.198-0.159-0.292  c-0.146-0.221-0.314-0.427-0.501-0.614L58.544,16.888c-1.562-1.562-4.095-1.562-5.657-0.001c-1.562,1.562-1.562,4.095,0,5.658  L74.343,44L12,44c-2.209,0-4,1.791-4,4C8,50.209,9.791,52,12,52z"/></svg>-->
</a>
</div>

<!-- SERVICES SECTION -->
<div id="services">

    <div class="container">

        <h3 class="centered">WHAT WE DO</h3>

        <div class="row mt">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 trigger">
                <div class="centered">
                    <img style="width: 100px; height: 100px;" src="{% static 'ico/laptop.png' %}" alt="Web Development">
                    <h4>Web Development</h4>
                    <p>It's our specialization. Designed and built on a turnkey basis, our websites combine latest back-end & design solutions.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 trigger">
                <div class="centered">
                    <img style="width: 100px; height: 100px;" src="{% static 'ico/bulletin_board.png' %}" alt="Web Design">
                    <h4>Web Design</h4>
                    <p>Unique and easy to navigate interfaces for websites and apps that help to maximize the quality of user experience.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 trigger">
                <div class="centered">
                    <img style="width: 100px; height: 100px;" src="{% static 'ico/art_palette.png' %}" alt="Graphic Design">
                    <h4>Graphic Design</h4>
                    <p>We materialize ideas with great attention to detail. Images, words and visuals are combined to appeal to your audience.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 trigger">
                <div class="centered">
                    <img style="width: 100px; height: 100px;" src="{% static 'ico/lightbulb_idea.png' %}" alt="Branding">
                    <h4>Branding</h4>
                    <p>Research and analysis are the basis of our branding approach. Intelligent design to get an intelligent result.</p>
                </div>
            </div>

        </div><!-- row -->

    </div><!-- container -->

</div><!-- services section -->

<!-- PORTFOLIO SECTION -->
<section id="portfolio" class="section">
    <div class="container">
        <div class="row mt">
            <h3 class="centered">OUR LATEST WORKS</h3>
            <p style="text-align: center">Please click on the image to see Project Resume</p>
            <ul class="grid effect-2 caption-style-2" id="grid">
                <li><a href="../cover-me" title="Cover Me Project"><img src="{% static 'img/portfolio/1.jpg' %}" alt="Cover Me Web Design, Web Development, Branding"></a></li>
                <li><img src="{% static 'img/portfolio/3.jpg' %}" alt="Knu Branding"></li>
                <li><a href="woodluck" title="Woodluck Project"><img src="{% static 'img/portfolio/4.jpg' %}" alt="Woodluck Web Design, Web Development, Branding, SEO"></a></li>
                <li><img src="{% static 'img/portfolio/12.jpg' %}" alt="Socktribe Illustration"></li>
                <li><a href="coincosm" title="Coincosm Project"><img src="{% static 'img/portfolio/13.jpg' %}" alt="Coincosm Web Design, Web Development, Branding"></a></li>
                <li><img src="{% static 'img/portfolio/10.jpg' %}" alt="Bungee Graphic Design"></li>
            </ul>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- portfolio -->

    <div class="container">
        <section class="pricing-section bg-7">
            <h2 class="pricing-section__title">Norbu</h2>
            <div class="pricing pricing--norbu">
                <div class="pricing__item">
                    <h3 class="pricing__title">Basic Website</h3>
                    <p class="pricing__sentence">For people who are starting out in the water saving business</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>549<!--<span class="pricing__period">/ month</span>--></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Up to 3 unique pages</li>
                        <li class="pricing__feature">Free access to forums</li>
                        <li class="pricing__feature">Beginners tips</li>
                    </ul>
                    <button class="pricing__action" id="order-basic" data-toggle="modal" data-target="#order_web">Choose plan</button>
                </div>
                <div class="pricing__item pricing__item--featured">
                    <h3 class="pricing__title">eCommerce</h3>
                    <p class="pricing__sentence">For experienced water savers who'd like to push their limits</p>
                    <div class="pricing__price"><!--<span class="pricing__period">from</span>--><span class="pricing__currency">$</span>729</div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Up to 5 unique pages</li>
                        <li class="pricing__feature">Free access to forums</li>
                        <li class="pricing__feature">Advanced saving tips</li>
                    </ul>
                    <button class="pricing__action" id="order-advanced" data-toggle="modal" data-target="#order_web">Choose plan</button>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Web Application</h3>
                    <p class="pricing__sentence">For all the professionals who'd like to educate others, too</p>
                    <div class="pricing__price"><span class="pricing__currency">$</span>1200<!--<span class="pricing__period">/ month</span>--></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Access to all books</li>
                        <li class="pricing__feature">Unlimited board topics</li>
                        <li class="pricing__feature">Beginners tips</li>
                    </ul>
                    <button class="pricing__action" id="order-webapp" data-toggle="modal" data-target="#order_web">Choose plan</button>
                </div>
            </div>
        </section>

    </div>
    <!-- /container -->




<!-- Modal -->
<div class="modal fade" id="order_web" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nice choice!</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form id="send-form" class="send-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address</label>
                                    <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required" /></div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Website Type</label>
                                    <select id="subject" name="subject" class="form-control" required="required">
                                        <option value="" selected="">Choose only one at a time, please!</option>
                                        <option value="Simple Responsive">Basic Responsive</option>
                                        <option value="Advanced Responsive">Advanced Responsive</option>
                                        <option value="Premium Responsive">Premium Responsive</option>
                                        <option value="Web Application">Web Application</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                              placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right blue-btn send" id="btnContactUs">
                                    Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Just send it, the response will be quick</h4>
            </div>
            <div class="modal-body">
                <form class="send-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name1">Name</label>
                                <input id="name1" name="name" type="text" class="form-control" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email1">Email Address</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                    <input id="email1" name="email" type="email" class="form-control" placeholder="Enter email" required="required" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject1">Service</label>
                                <select id="subject1" name="subject" class="form-control" required="required">
                                    <option value="" selected="">Choose only one at a time, please!</option>
                                    <option value="Web Development">Web Development</option>
                                    <option value="UI/UX">UI/UX</option>
                                    <option value="Graphic Design">Graphic Design</option>
                                    <option value="Branding">Branding</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message1">Message</label>
                                <textarea id="message1" name="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right blue-btn send" id="btnContactUs1">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<footer id="footer" class="footer">
    <div class="container">
        <div class="row mt">
            <div class="col-lg-6">
                <h4>Contact Information</h4>
            </div>
        </div><!-- row -->
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-12">
                <p>We work remotely, mostly underwater, but sometimes we surface for fresh oxygen, so you can schedule a meeting with us in <strong>Toronto</strong> or contact us any way you like:</p>
                <div class="contact">
                    <span class="fa fa-phone fa-lg"></span><span>+1 (416) 879-4514</span><br>
                    <span class="fa fa-envelope-o fa-lg"></span> <a href="mailto:dceta@email.com" title="Email">dceta@email.com</a>
                </div><!--contact-->
            </div><!--col-lg-6-->
            <div class="social-block col-lg-3 col-md-3 col-xs-12">
                <h5>Let's Get Social</h5>
                <div class="social wow pulse" data-wow-duration="1s"  data-wow-delay="0.5s">
                    <a href="https://www.facebook.com/dcetas" title="Facebook Page"><img src="{% static 'img/social/fb.png' %}" alt="Dceta Studio Facebook Page"></a>
                    <a href="https://twitter.com/dcetas" title="Twitter Profile"><img src="{% static 'img/social/twt.png' %}" alt="Dceta Studio Twitter"></a>
                    <a href="https://plus.google.com/+dcetas/about" title="Google Plus"><img src="{% static 'img/social/ggl.png' %}" alt="Dceta Studio Google Plus"></a>
                    <a href="https://www.behance.net/dcetas" title="Works on Behance"><img src="{% static 'img/social/bhnc.png' %}" alt="Dceta Studio Behance Portfolio"></a>
                    <a href="https://dribbble.com/dcetas" title="Works on Dribble"><img src="{% static 'img/social/drbbl.png' %}" alt="Dceta Studio Dribbble"></a>
                </div>
                <p style="text-align: center"> © 2015 Dceta Studio</p>
            </div>
        </div><!-- row -->

        <!--<div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "http://connect.facebook.net/en_EN/sdk.js#xfbml=1&appId=1439655729608526&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>-->
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_native_toolbox" style="margin-bottom: 25px;"></div>
    </div><!-- container -->
</footer>
</div><!-- Underwater -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
    new WOW().init();
</script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/ripple.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/smoothscroll.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/AnimOnScroll.js' %}"></script>
<script>
    new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
    });
</script>
<script src="{% static 'js/jquery.imageScroll.min.js' %}"></script>
<script>
    var touch = Modernizr.touch;
    $('.img-holder').imageScroll({
        imageAttribute: (touch === true) ? 'image-mobile' : 'image',
        touch: touch,
        holderMaxHeight:350,
        speed: 0.6,
        parallax: true
    });
</script>

<script>

    var downloadLink = document.getElementById('quote');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'quote');
    });


    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }

</script>

<script>
    var downloadLink = document.getElementById('order-basic');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'order');
    });


    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }
</script>

<script>
    var downloadLink = document.getElementById('order-advanced');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'order');
    });


    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }
</script>

<script>
    var downloadLink = document.getElementById('order-premium');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'order');
    });


    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }
</script>

<script>
    var downloadLink = document.getElementById('order-webapp');
    addListener(downloadLink, 'click', function() {
        ga('send', 'event', 'button', 'click', 'order');
    });


    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }
</script>

</body>
</html>
