<div id="pricing" class="pricing">
    <div class="container">

        <h3 class="centered">OUR PRICES</h3>

        <div class="row content">
            <div class="col-lg-12 col-lg-offset-0">

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">
                    <div class="plan">
                        <img style="width:250px" src="{% static 'img/prices/turtle.jpg' %}" alt="Basic Website">
                        <h2 class="simple-text">Basic Website</h2>
                        <p class="simple-text price">$549</p>
                        <p>1 year FREE Hosting</p>
                        <p>FREE Domain name</p>
                        <p>Up to 3 unique pages</p>
                        <p>Responsive Design</p>
                        <p>Contact Form</p>
                        <p>3 Free hours of educational sessions</p>
                        <p>1 design revises</p>
                        <button class="btn btn-grey btn-pricing">Order Now</button>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center wow fadeIn" data-wow-delay="0.4s" data-wow-duration="1s">
                    <div class="plan"><!-- featured -->
                        <img style="width:250px" src="{% static 'img/prices/dolphin.jpg' %}" alt="Advanced Website">
                        <h2 class="cms-text">Advanced Website</h2>
                        <p class="cms-text price">$729</p>
                        <p>1 year FREE Hosting</p>
                        <p>FREE Domain name</p>
                        <p>Up to 5 unique pages</p>
                        <p>Responsive Design</p>
                        <p>Contact Form</p>
                        <p>5 Free hours of educational sessions</p>
                        <p>2 design revises</p>
                        <p>Easy Content Management System</p>
                        <p>404 Page design</p>
                        <p>Site Statistics</p>
                        <button class="btn btn-grey btn-pricing order">Order Now</button>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center wow fadeIn" data-wow-delay="0.6s" data-wow-duration="1s">
                    <div class="plan">
                        <img style="width:250px" src="{% static 'img/prices/shark.jpg' %}" alt="Premium Website">
                        <h2 class="ecommerce-text">Premium Website</h2>
                        <p class="ecommerce-text price">$949</p>
                        <p>1 year FREE Hosting</p>
                        <p>FREE Domain name</p>
                        <p>Up to 7 unique pages</p>
                        <p>Responsive Design</p>
                        <p>Contact Form</p>
                        <p>8 Free hours of educational sessions</p>
                        <p>3 design revises</p>
                        <p>Custom Content Management System</p>
                        <p>404 Page design</p>
                        <p>Advanced Site Statistics</p>
                        <p>Company Blog</p>
                        <p>Basic SEO Consultation</p>
                        <p>Integration of Payment Solutions</p>
                        <p>FREE week of after-launch support</p>
                        <button id="order-premium" class="btn btn-grey btn-pricing order" data-toggle="modal" data-target="#order_web">Order Now</button>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center wow fadeIn" data-wow-delay="0.8s" data-wow-duration="1s">
                    <div class="plan">
                        <img style="width:250px" src="{% static 'img/prices/whale.jpg' %}" alt="Web Application">
                        <h2 class="app-text">Web Application</h2>
                        <p class="app-text price">$1999</p>
                        <p>Business Requirements Specification</p>
                        <p>UX/UI Design and Testing</p>
                        <p>BRS-based Back-End Technology</p>
                        <p>Node.js, Ruby, Python, Meteor</p>
                        <p>Data Management Software Implementation</p>
                        <p>Flexible Front-End Application</p>
                        <p>1 month of FREE tech support</p>
                        <button class="btn btn-grey btn-pricing order">Order Now</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- container -->
</div><!-- pricing section -->